body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #E0E0E0;
    margin: 0;
}


/*Nav bar for each game */

.header {
    overflow: hidden;
    background-color: #00aeef;
    padding: 20px 10px;
}

.header a {
    color: #ffffff;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    border-radius: 10px;
    line-height: 25px;
}

.header a.logo {
    float: left;
    font-size: 40px;
    font-weight: bold;
}

.header-right a:hover {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

.header-right {
    float: right;
    font-size: 20px;
    font-weight: bold;
}


/* Name of game*/

.middleone {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    top: 30px;
    transform: translate(-50%, -50%)
}


/* Button = Randomize prompt    Button2 = Instructions*/

.button {
    font-size: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    border: 2px solid #00aeef;
    box-shadow: 3px 3px 6px 3px #bfc4ca59;
    height: 50px;
    width: 250px;
    margin: 25px;
}

.button2 {
    font-size: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    border: 2px solid #00aeef;
    box-shadow: 3px 3px 6px 3px #bfc4ca59;
    height: 50px;
    width: 250px;
    margin: 25px;
}

.button:hover {
    background-color: #00aeef;
    color: white;
}

.button:hover span {
    display: none;
}

.button:hover:before {
    content: "Randomize text!"
}

.button2:hover {
    background-color: #00aeef;
    color: white;
}

.button2:hover span {
    display: none;
}

.button2:hover:before {
    content: "Toggle Instructions"
}


/*Eveything below is the text boxes used for the games */

.mono {
    font-family: "Cutive Mono", monospace;
}

.wrong {
    background: red;
    color: #fff;
}


/* Target = The prompt */

.target {
    color: #fff;
    text-align: left;
    font-size: 32px;
    min-width: 300px;
    min-height: 40px;
    width: 600px;
    display: inline-block;
    position: relative;
    white-space: pre;
    background: #00bbff;
    box-shadow: 3px 3px 6px 3px #bfc4ca59;
    padding: 22px 10px 10px;
}

.target:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #f00;
    left: 10px;
    top: 53px;
    -webkit-animation: cursor_flash 0.5s infinite;
    -moz-animation: cursor_flash 0.5s infinite;
    -o-animation: cursor_flash 0.5s infinite;
    animation: cursor_flash 0.5s infinite;
}

.target:before {
    font-family: Roboto;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    content: 'Type the text below';
    text-transform: uppercase;
    font-size: 10px;
    padding: 2px;
    text-align: left;
    position: absolute;
    color: #fff;
}


/*Keyframes are used for the cursor flash */

@-webkit-keyframes cursor_flash {
    0% {
        background: #fff;
    }
    50% {
        background: rgb(0, 0, 255);
    }
    100% {
        background: #fff;
    }
}

@-moz-keyframes cursor_flash {
    0% {
        background: #fff;
    }
    50% {
        background: rgb(0, 0, 255);
    }
    100% {
        background: #fff;
    }
}

@-o-keyframes cursor_flash {
    0% {
        background: #fff;
    }
    50% {
        background: rgb(0, 0, 255);
    }
    100% {
        background: #fff;
    }
}

@keyframes cursor_flash {
    0% {
        background: #fff;
    }
    50% {
        background: rgb(0, 0, 255);
    }
    100% {
        background: #fff;
    }
}

#textarea {
    position: absolute;
}

textarea {
    color: #fff;
    width: 60%;
    margin: 1em auto;
    display: none;
    position: relative;
    white-space: pre;
    background: black;
    box-shadow: 3px 3px 6px 2px #134d9959;
    border: 1px solid rgba(255, 255, 255, 0.4);
}


/*Textbox user types into */

.your-attempt {
    background: #00bbff;
    color: #fff;
    padding: 10px;
    min-height: 100px;
    border: 2px solid black;
    max-width: 600px;
    margin: 2em auto;
}


/* User stats on the top of the screen*/

.stats {
    overflow: hidden;
    list-style: none;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 900;
    max-width: 1000px;
    margin: 0 auto;
}

.stats li {
    display: inline-block;
    padding-left: 60px;
    padding-right: 60px;
}


/*Red Light green light game */

.statsrlgl {
    overflow: hidden;
    list-style: none;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 900;
    max-width: 1000px;
    margin: 0 auto;
}

.statsrlgl li {
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
}

.trafficLight {
    height: 100px;
    transform: rotate(90deg);
    margin: 0 auto;
}

.outerimg {
    height: 50px;
    margin: 0 auto;
}